.polyglot-lang-select {
    flex: 0 0 28px;
    margin: 0 6px;
}
.polyglot-lang-select select {
    height: 24px;
    background: rgba(255, 255, 245, 0.8);
}

span.polyglot-journal {
    background-color: rgba(255, 180, 0, 0.75)
}