.polyglot-translation-text {
	border-top: 1px solid var(--color-border-light-2);
	-webkit-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
}

a.polyglot-message-language.unclickable {
	cursor: default;
}
