&.polyglot-lang-select {
	flex: 0 0 28px;
	input {
		margin-left: 0;
		flex: 0;
	}
	label {
		flex: 0;
	}
	select {
		height: 24px;
		margin-left: 6px;
		background: rgba(255, 255, 245, 0.8);
	}
	> span.select2-container {
		margin-left: 6px;
	}
	span.select2-selection {
		background: rgba(255, 255, 255, 0.85);
		height: 24px;
		border: 1px solid var(--color-border-light-tertiary);
		border-radius: 3px;
	}
	.select2 {
		&-container--default {
			.select2-selection--single {
				.select2-selection__rendered {
					max-height: 24px;
					line-height: 24px;
					color: $color_2;
				}
				.select2-selection__arrow {
					height: 22px;
					b {
						border-color: $border-color_1;
					}
				}
			}
		}
		&-dropdown.polyglot-language {
			background: rgb(255, 255, 245);
		}
		&-results__option {
			.tags {
				margin: 0;
			}
			.tags.paizo-style {
				padding: 0;
				max-width: fit-content;
				.tag {
					border: 0;
				}
			}
		}
	}
	.ts-wrapper {
		.ts-control {
			background: rgba(0, 0, 0, 0.1);
			border: none;
			border-radius: 4px;
			padding: 1px 8px;
		}
		.ts-dropdown {
			bottom: 100%;
			top: unset;
			.optgroup-header, .option {
				padding: 1px 8px;
			}
		}
		&.input-active .ts-control {
			cursor: pointer;
		}
	}
}

&.polyglot-user-list {
	display: inline-flex;
	max-width: max-content;
	margin: auto;
	flex-wrap: wrap;
	div {
		width: 10px;
		height: 10px;
		border-radius: 50%;
		margin: 1px 2px;
	}
}
