:root {
	--polyglot-journal-color: 255, 180, 0;
	--polyglot-journal-opacity: 0.25;
	--polyglot-journal-color-temp: 255, 180, 0;
	--polyglot-journal-opacity-temp: 0.25;
}

.polyglot.wfrp4e select {
	color: #e2e2e2;
}

.polyglot-chat-bubble {
	font-family: var(--polyglot-chat-bubble-font);
}
.polyglot-lang-select {
	flex: 0 0 28px;
	margin: 0 6px;
	align-items: center;
}
.polyglot-lang-select input {
	margin-left: 0;
}
.polyglot-lang-select input:checked {
	accent-color: rgb(255, 255, 245);
}
.polyglot-lang-select label {
	flex: 0;
}
.polyglot-lang-select select {
	height: 24px;
	margin-left: 6px;
	background: rgba(255, 255, 245, 0.8);
}
.polyglot-lang-select > span.select2-container {
	margin-left: 6px;
}
.polyglot-lang-select span.select2-selection {
	background: rgba(255, 255, 245, 0.8);
	height: 24px;
	border: 1px solid var(--color-border-light-tertiary);
	border-radius: 3px;
	cursor: default;
}
.polyglot-lang-select .select2-container--default .select2-selection--single .select2-selection__rendered {
	line-height: 24px;
}
.polyglot-lang-select .select2-container--default .select2-selection--single .select2-selection__arrow {
	height: 22px;
}
.select2-dropdown.polyglot-language {
	background: rgb(255, 255, 245);
}

.polyglot-user-list {
	display: inline-flex;
	max-width: max-content;
	margin: auto 3px;
}
.polyglot-user-list div {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	margin: auto 2px auto 2px;
}
span.polyglot-journal {
	background-color: rgba(var(--polyglot-journal-color), var(--polyglot-journal-opacity));
}
.polyglot-journal-temp {
	background-color: rgba(var(--polyglot-journal-color-temp), var(--polyglot-journal-opacity-temp));
}
.polyglot-translation-text {
	border-top: 1px solid var(--color-border-light-2);
	-webkit-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
}
.polyglot-group-header {
	font-weight: bold;
	padding: 8px 20px;
	background-color: rgba(255, 255, 255, 0.4);
}
input.selectatr[type="number"] {
	width: 30px;
	height: 100%;
	background: none;
	border: none;
	border-radius: 0;
	border-bottom: 1px solid var(--color-border-light-tertiary);
}
.polyglot-languages-list li .fontSize {
	flex: 0 0 90px;
	text-align: center;
	margin: auto;
}
.polyglot-alphabet-list {
	flex: 0 0 160px;
}
.polyglot-alphabet {
	margin: auto;
}
.polyglot-language-settings .font-name,
.polyglot-language-settings .selectatr {
	text-transform: capitalize;
}
.polyglot-languages-list .font-name,
.font-name {
	flex: 0 0 150px;
	margin: auto;
}
.polyglot-languages-list {
	list-style: none;
	padding: 0;
}
.polyglot-languages-list .flexrow {
	flex-wrap: nowrap;
}
.polyglot-languages-warn {
	font-weight: bold;
	color: red;
	text-align: center;
	margin-bottom: 0.5em;
	display: none;
}

a.polyglot-message-language.unclickable {
	cursor: default;
}
