@import "init";
@import "chat";

:root {
	--polyglot-journal-color: 255, 180, 0;
	--polyglot-journal-opacity: 0.25;
	--polyglot-journal-color-temp: 255, 180, 0;
	--polyglot-journal-opacity-temp: 0.25;
}

@import "journal";

.polyglot {
	&.polyglot-chat-bubble {
		font-family: $font-family_1;
	}

	@import "forms";
	@import "language-selector";
	@import "system-specific";
}

#interface,
.application.chat-sidebar {
	&.theme-dark {
		.polyglot.polyglot-lang-select {
			.ts-wrapper {
				.ts-control {
					color: var(--color-light-1);
				}
				.ts-dropdown {
					background: var(--color-cool-5);
					.optgroup-header {
						border-bottom: solid 1px;
					}
					.option.active {
						background: var(--color-cool-3);
						color: var(--color-light-2);
					}
					.optgroup-header, .option {
						background: var(--color-cool-5);
						color: var(--color-light-1);
					}
					.ts-dropdown-content {
						scrollbar-width: none;
					}
				}
			}
		}
	}
	&.theme-light {
		.polyglot.polyglot-lang-select {
			.ts-wrapper {
				.ts-control {
					background: rgba(255, 255, 255, 0.6);
				}
				.ts-dropdown {
					.optgroup-header {
						border-bottom: solid 1px;
					}
				}
				.option.active {
					background: #e0eef7;
				}
				&.focus .ts-control, .ts-control:hover {
					background: rgba(255, 255, 255, 0.85);
				}
			}
		}
	}
}