&.polyglot-font-settings {
	min-height: 255px;
	min-width: 780px;

	input.selectatr[type="number"] {
		width: 40px;
	}

	.polyglot-alphabet {
		margin: auto;
	}
	.font-name {
		flex: 0 0 150px;
		margin: auto;
	}

	.polyglot-languages-list {
		margin: 0;

		li {
			.font-name {
				flex: 0 0 150px;
				margin: auto;
			}
			.fontSize {
				flex: 0 0 90px;
				text-align: center;
				margin: auto;
			}
		}
	}
}
